h1{
    font-size: 50px;
    text-align: center;
    color: black;
    background-color: red;
}

p{
    font-size: 35px;
    text-align: center;

}

#imagem1{
    width: 30%;
    display: block;
    margin: auto;
    border: solid 4px black;
    padding: 30px;
}
